page-bon-livr-data {
  
  .red-background{
    background: darkred;
  }

  .yellow-background{
    background: #ff9901;
  }

  .green-background{
    background: #348b00;
  }

  ion-modal{
    background-color: #ff9901!important;
  }
}
