<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Bons de livraison</ion-title>
  </ion-navbar>
</ion-header>
<ion-content id='hy'>

  <ion-list *ngIf="suc != false">
    <ion-item>
      <ion-label floating>Recherche ...</ion-label>
      <ion-input type="text" [(ngModel)]="query" (ionChange)="search_php(query)"></ion-input>
    </ion-item>
  </ion-list>
  <div *ngIf="searchMode">
    <h5 *ngIf="users.length==0" text-center class="redIcon"> <br>Désolé ! Pas de BL pour <b>{{ query }}</b></h5>
  </div>
  <ion-card *ngFor="let item of users">
    <ion-card-header style="border-bottom:1px solid #d1d1d1;padding-bottom:8px;padding-top:8px;"
      [ngClass]="{'hasErrorSty':item.VALIDE=='NON','ValideSty':item.VALIDE=='OUI'}">
      <b>BL N°{{ item.NUMBON }}/{{item.DATE_BON | date:'yyyy'}}</b>
      <a title="Modifier">
        <ion-icon ios="ios-open" md="md-open" style="float: right;color:#aa0505;cursor: pointer;font-size: 20px;"
          (click)="goToCmdData(item.NUMBON)"></ion-icon>
      </a>
      <span *ngIf="item.VALIDE == 'OUI'">
        <ion-icon ios="ios-card" md="md-card"
          style="float: right;color:#aa0505;cursor: pointer;font-size: 20px;padding-right: 10px;"
          (click)="regler('CB',item.NUMBON,item.C_CLIENT)"></ion-icon>
      </span>
      <ion-icon ios="ios-repeat" md="md-repeat" (click)="convert_list(item.NUMBON)"
        style="margin-right: 8px;float: right;color:#aa0505;cursor: pointer;font-size: 20px;"></ion-icon>
    </ion-card-header>
    <ion-card-content style="padding-top: 10px;">

      <span *ngIf="item.NUMFACT"><b>Facture n°: </b> {{ item.NUMFACT }}<br></span>
      <span *ngIf="item.NUMCDE"><b>Commande n°: </b> {{ item.NUMCDE }} <br></span>

      <b>Code client: </b> {{ item.C_CLIENT }}<br>
      <b>Nom client: </b> {{ item.D_CLIENT }} <br>
      <b>Date bon: </b> {{ item.DATE_BON}}<br>
      <hr>
      <div style="display: flex; justify-content: space-between;">
        <div>
          <ion-icon *ngIf="item.VALIDE == 'OUI'" ios="ios-print" md="md-print"
          style="color:#aa0505;cursor: pointer;font-size: 25px;"
          (click)="generatePdf()"></ion-icon>
        </div>
        <div>
          <b>Validé:</b> {{ item.VALIDE }}
        </div>
      </div>
    </ion-card-content>
  </ion-card>


  <ion-infinite-scroll (ionInfinite)="loadMore($event)" *ngIf="hasData">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Chargement de données en cours..."
      *ngIf="hasData"></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab right bottom>
    <button ion-fab (click)="goToAjoutCmd()" color="danger">
      <ion-icon ios="ios-add" md="md-add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>